body {
    font-family: 'Kanit', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    padding: 20px;
}

.box {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 100px;
    right: 0;
}

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

.main-contact{
    width: 940px;
    margin: 0 auto;
}

.product {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.product li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;

    /*
    se puede usar por separado o junto como arriba para ahorrar codigo.
    border-color: black;
    border-width: 2px;
    border-style: solid;
    */
}

.product li:hover {
    border-color: blue;
}

.product li:active{
    border-color: darkturquoise;
}

.product h2 {
    font-size: 30px;
    font-weight: bold;
}

.product li:hover h2 {
    font-size: 35px;
}

.description-product {
    font-size: 18px;
}

.price-product {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(Imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px;
}

form {
    margin: 20px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-boss {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.send {
    width: 56%;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.send:hover {
    background-color: gray;
    transform:scale(1.2)
}

table {
    margin: 40px 40px;
}

thead {
    background-color: #555555;
    color: white;
    font-size: bold;

}

td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
}

/*CSS FOR HOME*/

.banner {
    width: 100%;
    height: 700px;
}

.main-home {
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.differential{
    background: linear-gradient(#FEFEFE, #414040);
    padding: 0 0 2em 0
}

.main-title {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    padding: 2em 0 0 0;
}

.main-title::first-letter{
    font-weight: bol;
}


.main-home p{
    margin: 0 0 1em;
}

.main-home strong {
    font-weight: bold;
}

.main-home em {
    font-style: oblique;
}

.accessories {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.differential-content {
    width: 640;
    margin: 0 auto;
    padding: 0 0 2em 0;
}

.differential-list {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 430px;
}

.item {
    line-height: 1.5;
}

.item:before{
    content: "✶";
}

.item:first-child {
    font-weight: bold;
}

.diffential-img {
    width: 20%;
    height: 300px;
    position: relative;
    left: 150px;
    transition: 400ms;
    box-shadow: 10px 10px 30px 10px #000000;
}

.diffential-img:hover{
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 1em auto 0 auto;
}

/*CSS FOR LOCATION*/

.map {
    padding: 3em 0;
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.content-map{
    width: 940px;
    margin: 0 auto;
}

/*media query*/

@media screen and (max-width:700px) {

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .box, .main-home, .map, .content-map, .differential-content, .video, .main-contact {
        width: auto;
    }

    .differential-list, .diffential-img{
        width: 100%;
        position: static;
        padding: 0 0 0 0;
    }
}

/* @media screen and (max-width: 480px) {
    .product{
        display: inline-block;
    }
} */